* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #1d1814;
  overflow-x: hidden;
}

.section-title {
  text-align: center;
  margin: 2rem 0;
}
.section-title h1 {
  text-transform: uppercase;
  font-size: 210%;
  margin: 0;
  margin: 0.5rem 0;
}
.section-title h1 strong {
  font-weight: bolder;
}
.section-title span {
  font-weight: bold;
  color: #64b83d;
}
.section-title span i {
  color: #1d1814;
  font-size: 170%;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #64b83d;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(100, 184, 61, 0.2) 50%, rgba(100, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

.main-header .top-panel {
  background-color: #64b83d;
  color: #95e56f;
  padding: 1.2rem 0;
  text-align: center;
}
.main-header .top-panel .right-contacts ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main-header .top-panel .right-contacts ul li {
  display: inline-block;
  margin: 0 1rem;
}
.main-header .top-panel .right-contacts ul li i {
  padding: 0 0.8rem;
}
.main-header .main-nav {
  background-color: #FFF;
  color: #64b83d;
  padding: 2rem 0;
  position: relative;
}
.main-header .main-nav .res-logo {
  text-align: center;
  display: none;
}
.main-header .main-nav .res-logo img {
  width: 20%;
  margin: 0 auto;
}
.main-header .main-nav .res-nav-button {
  display: none;
}
.main-header .main-nav .res-nav-button a {
  display: block;
  background-color: #64b83d;
  color: #1d1814;
  margin-top: 4rem;
  padding: 1.4rem 3rem;
  text-decoration: none;
}
.main-header .main-nav .res-nav-items {
  display: none;
}
.main-header .main-nav .res-nav-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1d1814;
}
.main-header .main-nav .res-nav-items ul li a {
  padding: 1.5rem 3rem;
  display: block;
  color: #64b83d;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.main-header .main-nav .res-nav-items ul li a:hover {
  color: #1d1814;
  background-color: #64b83d;
}
.main-header .main-nav .left-nav {
  padding: 1rem;
}
.main-header .main-nav .left-nav, .main-header .main-nav .right-nav {
  text-align: center;
  height: auto;
  overflow: hidden;
}
.main-header .main-nav .left-nav ul, .main-header .main-nav .right-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.main-header .main-nav .left-nav ul li, .main-header .main-nav .right-nav ul li {
  display: inline;
}
.main-header .main-nav .left-nav ul li a, .main-header .main-nav .right-nav ul li a {
  text-decoration: none;
  vertical-align: middle;
  color: #64b83d;
  display: inline-block;
  padding: 0.9rem 1rem;
  transition: all 0.5s ease-in-out;
}
.main-header .main-nav .left-nav ul li a i, .main-header .main-nav .right-nav ul li a i {
  font-size: 50%;
  vertical-align: middle;
  padding: 0 0.5rem;
}
.main-header .main-nav .left-nav ul li a .search-icon, .main-header .main-nav .right-nav ul li a .search-icon {
  font-size: 130%;
  background-color: #64b83d;
  color: #FFF;
  padding: 1rem;
}
.main-header .main-nav .left-nav ul li a .search-icon:hover, .main-header .main-nav .right-nav ul li a .search-icon:hover {
  background-color: #64b83d;
}
.main-header .main-nav .left-nav ul li a:hover, .main-header .main-nav .right-nav ul li a:hover {
  background-color: #64b83d;
  color: #FFF;
}
.main-header .main-nav .logo {
  position: relative;
}
.main-header .main-nav .logo a {
  position: absolute;
}
.main-header .main-nav .logo a img {
  width: 80%;
  margin: 0 auto;
}

.slider-section {
  height: 100vh;
  background-image: url("../images/slider_bg.png");
  background-size: cover;
}
.slider-section .slider-text {
  margin-top: 15rem;
  margin-left: 5rem;
}
.slider-section .slider-text .slider-text-title {
  background-color: #64b83d;
  color: #1d1814;
  font-family: 'Great Vibes', cursive;
  position: relative;
  bottom: -3rem;
  z-index: 2;
}
.slider-section .slider-text .slider-text-title h1 {
  font-size: 350%;
}
.slider-section .slider-text .heart-icon {
  background-color: #1d1814;
  color: #64b83d;
  text-align: center;
  position: relative;
  bottom: -3rem;
  z-index: 2;
}
.slider-section .slider-text .heart-icon i {
  font-size: 220%;
  padding: 3rem 0rem;
}
.slider-section .slider-text .main-text {
  background-color: #FFF;
  color: #1d1814;
  padding: 5rem 3rem;
}
.slider-section .slider-text .main-text p {
  font-style: italic;
  font-size: 105%;
  color: #594a3e;
  line-height: 2.4rem;
}
.slider-section .slider-text .check-services-button {
  position: relative;
  top: -3rem;
}
.slider-section .slider-text .check-services-button a {
  text-decoration: none;
  display: inline-block;
  background-color: #1d1814;
  color: #64b83d;
  font-weight: 600;
  padding: 1.5rem 2.3rem;
  transition: all 0.5s ease-in-out;
}
.slider-section .slider-text .check-services-button a:hover {
  background-color: #64b83d;
  color: #1d1814;
  padding: 2rem 3rem;
}

.short-features-section .short-features-container {
  background-color: #1d1814;
  color: #64b83d;
  position: relative;
  height: auto;
  overflow: hidden;
  top: -3.6rem;
  padding: 2rem 0;
}
.short-features-section .short-features-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.short-features-section .short-features-container ul li {
  display: inline;
  text-align: center;
  vertical-align: middle;
}
.short-features-section .short-features-container ul li i {
  background-color: #64b83d;
  color: #1d1814;
  height: 4rem;
  width: 4rem;
  vertical-align: middle;
  padding-top: 1rem;
  font-size: 160%;
  border-radius: 50%;
  margin: 0 0.8rem;
}
.short-features-section .short-features-container ul li h3 {
  display: inline-block;
  font-size: 120%;
  font-weight: bold;
}

.aboutus-section .aboutus-content {
  background-image: url("../images/compound_bg.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 60%;
  padding: 10rem 0;
}
.aboutus-section .aboutus-content .aboutus-text h1 {
  font-size: 500%;
  margin: 0;
  color: #64b83d;
}
.aboutus-section .aboutus-content .aboutus-text h1 strong {
  font-weight: bolder;
}
.aboutus-section .aboutus-content .aboutus-text h3 {
  background-color: #64b83d;
  margin: 0;
  color: #FFF;
  padding: 0.5rem 1rem;
  font-size: 150%;
  display: inline-block;
  font-weight: lighter;
  margin-bottom: 2rem;
}
.aboutus-section .aboutus-content .aboutus-text p {
  width: 80%;
  font-size: 110%;
  line-height: 2.5rem;
  font-weight: 400;
  font-style: italic;
}
.aboutus-section .aboutus-content .aboutus-text a {
  display: inline-block;
  background-color: #1d1814;
  color: #64b83d;
  font-size: 110%;
  font-weight: bold;
  padding: 1rem 3rem;
  text-decoration: none;
  margin: 1rem 0;
  transition: all 0.5s ease-in-out;
}
.aboutus-section .aboutus-content .aboutus-text a:hover {
  background-color: #64b83d;
  color: #1d1814;
  padding: 2rem 4rem;
}

.why-pickus-section .why-pickus-content .left-features {
  padding: 0 4rem;
}
.why-pickus-section .why-pickus-content .left-features .features-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.why-pickus-section .why-pickus-content .left-features .features-list .active-li {
  background-color: #1d1814;
  color: #FFF;
}
.why-pickus-section .why-pickus-content .left-features .features-list .active-li h3 {
  color: #FFF;
}
.why-pickus-section .why-pickus-content .left-features .features-list li {
  background-color: #FFF;
  padding: 3rem;
  vertical-align: top;
  transition: all 0.5s ease-in-out;
}
.why-pickus-section .why-pickus-content .left-features .features-list li i {
  font-size: 270%;
  color: #64b83d;
  transition: all 0.5s ease-in-out;
  vertical-align: middle;
}
.why-pickus-section .why-pickus-content .left-features .features-list li h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 130%;
  transition: all 0.5s ease-in-out;
  font-weight: bolder;
  color: #1d1814;
}
.why-pickus-section .why-pickus-content .left-features .features-list li p {
  font-style: italic;
  font-weight: 500;
  margin: 0.5rem 0;
}
.why-pickus-section .why-pickus-content .left-features .features-list li:hover {
  background-color: #64b83d;
  color: #FFF;
}
.why-pickus-section .why-pickus-content .left-features .features-list li:hover i {
  color: #1d1814;
}
.why-pickus-section .why-pickus-content .left-features .features-list li:hover h3 {
  color: #FFF;
}
.why-pickus-section .why-pickus-content .right-pickus-picture {
  background-image: linear-gradient(to right, rgba(117, 192, 82, 0.7), rgba(117, 192, 82, 0.7)), url("../images/pickus_right_pic.png");
  background-repeat: no-repeat;
  padding: 10rem 3rem;
  text-align: center;
  color: #FFF;
}
.why-pickus-section .why-pickus-content .right-pickus-picture h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 300%;
}
.why-pickus-section .why-pickus-content .right-pickus-picture span {
  font-weight: bolder;
}
.why-pickus-section .why-pickus-content .right-pickus-picture span i {
  font-size: 150%;
}
.why-pickus-section .why-pickus-content .right-pickus-picture p {
  font-style: italic;
  margin: 2rem 0;
}

.services-section {
  margin-top: 5rem;
}
.services-section .services-content {
  background-color: #6caf4f;
  background-image: url("../images/services_buildings_bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  color: #FFF;
  padding: 4rem;
}
.services-section .services-content .top-services-paragraph {
  text-align: center;
}
.services-section .services-content .top-services-paragraph .tsp-icon {
  font-size: 300%;
}
.services-section .services-content .top-services-paragraph .tsp-icon i {
  height: 7rem;
  width: 7rem;
  padding-top: 1.8rem;
  border-radius: 50%;
  background-color: #FFF;
  color: #6caf4f;
}
.services-section .services-content .top-services-paragraph .tsp-text p {
  width: 50%;
  font-size: 110%;
  margin: 0 auto;
  margin-top: 1.5rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}
.services-section .services-content .top-services-paragraph .tsp-text span {
  font-weight: bolder;
}
.services-section .services-content .top-services-paragraph .tsp-text span i {
  font-size: 150%;
}
.services-section .services-content .services-list {
  margin-top: 3rem;
}
.services-section .services-content .services-list .single-service {
  background-color: #73be53;
  padding: 5rem;
  box-shadow: 0px 0px 50px -20px #000;
}
.services-section .services-content .services-list .single-service h3 {
  text-transform: uppercase;
  font-size: 125%;
  font-weight: bolder;
  margin: 2rem 0;
}
.services-section .services-content .services-list .single-service p {
  color: #eff6ec;
  font-style: italic;
}
.services-section .services-content .services-list .single-service a {
  text-align: center;
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 1.5rem 4rem;
  background-color: #FFF;
  color: #64b83d;
  border-radius: 7px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.services-section .services-content .services-list .single-service a:hover {
  background-color: #63a048;
  color: #FFF;
}
.services-section .services-content .services-list .renting-service {
  background-image: url("../images/home_bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 70%;
  transition: all 0.5s ease-in-out;
}
.services-section .services-content .services-list .renting-service:hover {
  background-size: 80%;
}
.services-section .services-content .services-list .ownership-service {
  background-image: url("../images/chart_bg.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 80%;
  transition: all 0.5s ease-in-out;
}
.services-section .services-content .services-list .ownership-service:hover {
  background-size: 90%;
}
.services-section .services-content .services-list .investment-service {
  background-image: url("../images/heart_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  transition: all 0.5s ease-in-out;
}
.services-section .services-content .services-list .investment-service:hover {
  background-size: 100%;
}

.gallary-section {
  margin-top: 4rem;
}
.gallary-section .gallary-content {
  padding: 2rem 0;
  background-color: #f0f0f0;
}
.gallary-section .gallary-content .single-photo {
  padding: 2rem;
}
.gallary-section .gallary-content .single-photo .photo-content {
  background-color: #FFF;
  box-shadow: 0px 0px 50px -23px #000;
}
.gallary-section .gallary-content .single-photo .photo-content .photo {
  position: relative;
}
.gallary-section .gallary-content .single-photo .photo-content .photo .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(114, 190, 95, 0.7);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.gallary-section .gallary-content .single-photo .photo-content .photo:hover .overlay {
  bottom: 0;
  height: 100%;
}
.gallary-section .gallary-content .single-photo .photo-content .photo .text {
  color: white;
  position: absolute;
  font-size: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.gallary-section .gallary-content .single-photo .photo-content .photo .text a {
  display: inline-block;
  background-color: #1d1814;
  color: #6bae4e;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.gallary-section .gallary-content .single-photo .photo-content .photo .text a:hover {
  background-color: #FFF;
}
.gallary-section .gallary-content .single-photo .photo-content .photo-info {
  padding: 2rem 3rem;
}
.gallary-section .gallary-content .single-photo .photo-content .photo-info h4 {
  text-transform: uppercase;
  font-weight: bolder;
  color: #64b83d;
}
.gallary-section .gallary-content .single-photo .photo-content .photo-info p {
  color: #80807f;
  font-style: italic;
}

.sendMessageSection {
  padding-bottom: 5rem;
  background-image: url("../images/details_map_bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #1d1814;
  padding-top: 5rem;
}
.sendMessageSection .section-title h1, .sendMessageSection .section-title i {
  color: #FFF;
}
.sendMessageSection .sendMessageContent .sendUsParagraph p {
  color: #FFF;
  text-align: center;
  font-weight: lighter;
  line-height: 2.3rem;
}
.sendMessageSection .sendMessageContent .sendUsForm {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
}
.sendMessageSection .sendMessageContent .sendUsForm input {
  width: 33%;
  padding: 1.2rem 3rem;
  outline: 0;
  border: 0;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid #64b83d;
  transition: all 0.5s ease-in-out;
}
.sendMessageSection .sendMessageContent .sendUsForm input:hover {
  padding-left: 6rem;
}
.sendMessageSection .sendMessageContent .sendUsForm input:focus {
  padding-left: 6rem;
}
.sendMessageSection .sendMessageContent .sendUsForm textarea {
  width: 100%;
  padding: 1.2rem 3rem;
  outline: 0;
  border: 0;
  margin-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  height: 20rem;
  border-bottom: 2px solid #64b83d;
  transition: all 0.5s ease-in-out;
  color: #ccc;
}
.sendMessageSection .sendMessageContent .sendUsForm textarea:hover {
  padding-left: 6rem;
}
.sendMessageSection .sendMessageContent .sendUsForm textarea:focus {
  padding-left: 6rem;
}
.sendMessageSection .sendMessageContent .sendUsForm .details-send, .sendMessageSection .sendMessageContent .sendUsForm .details-reset {
  outline: 0;
  border: 0;
  padding: 1.2rem 3rem;
  background-color: #FFF;
  color: #64b83d;
  font-weight: bold;
  border-radius: 40px;
  transition: all 0.5s ease-in-out;
  margin-top: 1rem;
}
.sendMessageSection .sendMessageContent .sendUsForm .details-send:hover, .sendMessageSection .sendMessageContent .sendUsForm .details-reset:hover {
  background-color: #64b83d;
  color: #FFF;
}
.sendMessageSection .sendMessageContent .sendUsForm .details-reset {
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF;
}

.contactUsSection {
  background-color: #6bae4e;
  background-image: url("../images/contact_map_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.contactUsSection .section-title h1, .contactUsSection .section-title i {
  color: #FFF;
}
.contactUsSection .contactUsContent .contactUsParagraph p {
  color: #FFF;
  text-align: center;
  font-weight: lighter;
  line-height: 2.3rem;
}
.contactUsSection .contactUsContent .contactUsInfo {
  margin-top: 4rem;
}
.contactUsSection .contactUsContent .contactUsInfo .ContactUsInfoBlock {
  text-align: center;
}
.contactUsSection .contactUsContent .contactUsInfo .ContactUsInfoBlock .contactInfoIcon i {
  color: #1d1814;
  font-size: 300%;
  height: 10rem;
  width: 10rem;
  padding-top: 3rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.contactUsSection .contactUsContent .contactUsInfo .ContactUsInfoBlock .contactInfoIcon i:hover {
  background-color: #1d1814;
  color: #6bae4e;
}
.contactUsSection .contactUsContent .contactUsInfo .ContactUsInfoBlock .contactUsInfoText ul {
  list-style-type: none;
}
.contactUsSection .contactUsContent .contactUsInfo .ContactUsInfoBlock .contactUsInfoText ul li {
  color: #FFF;
  font-weight: lighter;
}
.contactUsSection .contactUsContent .contactUsInfo .ContactUsInfoBlock .contactUsInfoText ul li:first-of-type {
  margin-top: 2rem;
}

.main-footer {
  padding: 12rem 0;
  background-color: #e9e5dc;
  background-image: url("../images/footer_buildings_bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.main-footer .left-footer-info h1 {
  display: inline;
  font-weight: bolder;
}
.main-footer .left-footer-info h1 .bigger-letter {
  font-size: 170%;
}
.main-footer .left-footer-info .compounds-span {
  font-weight: bolder;
  font-size: 110%;
  font-style: italic;
  color: #64b83d;
}
.main-footer .left-footer-info p {
  font-style: italic;
  font-weight: 500;
  text-align: justify;
  text-justify: inter-word;
  color: #585550;
}
.main-footer .footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-footer .footer-links ul li {
  margin: 0.5rem 0;
}
.main-footer .footer-links ul li a {
  color: #585550;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.main-footer .footer-links ul li a i {
  padding: 0 1rem;
  color: #64b83d;
}
.main-footer .footer-links ul li a:hover {
  color: #64b83d;
  padding-left: 1rem;
}
.main-footer .footer-social {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 500;
}
.main-footer .footer-social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-footer .footer-social ul li {
  text-align: center;
}
.main-footer .footer-social ul li a {
  text-align: center;
  color: #FFF;
  text-decoration: none;
}
.main-footer .footer-social ul li a i {
  height: 5rem;
  width: 5rem;
  padding-top: 1.4rem;
  font-size: 150%;
}
.main-footer .footer-social ul li a .facebook-color {
  background-color: #3b5998;
}
.main-footer .footer-social ul li a .facebook-color:hover {
  background-color: #5f7ec1;
}
.main-footer .footer-social ul li a .twitter-color {
  background-color: #1da1f2;
}
.main-footer .footer-social ul li a .twitter-color:hover {
  background-color: #65bff6;
}
.main-footer .footer-social ul li a .google-color {
  background-color: #dc4e41;
}
.main-footer .footer-social ul li a .google-color:hover {
  background-color: #e88a82;
}
.main-footer .footer-social ul li a .linkedIn-color {
  background-color: #0084b1;
}
.main-footer .footer-social ul li a .linkedIn-color:hover {
  background-color: #00bdfd;
}
.main-footer .copyrights {
  padding: 3rem 0;
}
.main-footer .copyrights span {
  color: #585550;
}
.main-footer .copyrights span a {
  color: #64b83d;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .slider-section .slider-text .slider-text-title h1 {
    font-size: 290%;
  }
  .slider-section .slider-text .heart-icon i {
    font-size: 190%;
  }
}
@media screen and (max-width: 768px) {
  .main-nav .res-logo {
    display: block !important;
  }
  .main-nav .res-nav-button {
    display: block !important;
  }
  .main-nav .left-nav {
    display: none;
  }
  .main-nav .left-nav, .main-nav .right-nav {
    display: none;
  }
  .main-nav .logo {
    display: none;
  }

  .slider-section .slider-text {
    margin-left: 2rem;
  }
  .slider-section .slider-text .slider-text-title h1 {
    font-size: 400%;
  }
  .slider-section .slider-text .heart-icon {
    display: none;
  }

  .sendMessageSection .sendMessageContent .sendUsForm input {
    width: 31%;
  }
}
@media screen and (max-width: 414px) {
  .main-nav .res-logo img {
    width: 30% !important;
  }
}

/*# sourceMappingURL=styles.css.map */
